*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("sofía.jpg");
    
    background-repeat: no-repeat;
    
    }
    .ftecnología{
    
        background-image: url("fondo.jpg");
        
        background-repeat: no-repeat;
        
        }
    
    
    .img{
    
    position: relative;
    
     
    
    width: 300px;
    top: 100px;
    height: 250px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("MedellÍn.jpg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("");
        
        }
        
        
        
        .textosociales{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }

        .imgsociales{
        
         
        
            background-repeat: no-repeat;
            
            float:left;
            
            height: 1000px;
            
            width: 1000px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("imagen.jpg");
            
            }