*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url(".jpg");
    
    background-repeat: no-repeat;
    
    }
    .ftecnología{
    
        background-image: url("fondo.jpg");
        
        background-repeat: no-repeat;
        
        }
    
    
    .img{
    
    position: relative;
    
     
    
    width: 300px;
    top: 100px;
    height: 250px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("MedellÍn.jpg");
    
    }
    
    .contenedor{
    
     
    
        width: 100%;
        height: 270px;
        background-color: rgb(253, 253, 253);
    
     
    
    }
    
    .texto{
    
    font-size: 30px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
    .contenido{

        height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top:200px;
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("");
        
        }
        
        
        
        .textosociales{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }

        .imgsociales{
        
         
        
            background-repeat: no-repeat;
            
            float:left;
            
            height: 1000px;
            
            width: 1000px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("imagen.jpg");
            
            }
           

            .imgbiologia{
        
         
        
                background-repeat: no-repeat;
                
                float:left;
                
                height: 1000px;
                
                width: 1000px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("image.png");
            
                }

                .imgsoc3{
        
         
        
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 489px;
                    
                    width: 337px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("ul.jpg.png");
                    
                    }

                    .telarsoc3{
        
         
        
                        background-repeat: no-repeat;
                        
                        float:left;
                        
                        height: 429px;
                        
                        width: 382px;
                        
                        margin-left: 5px;
                        
                        margin-right:5px;
                        
                        background-image: url("sofiatl.jpg");
                        
                        }

                
                        .desmotadorasoc3{
        
         
        
                            background-repeat: no-repeat;
                            
                            float:left;
                            
                            height: 284px;
                            
                            width: 325px;
                            
                            margin-left: 5px;
                            
                            margin-right:5px;
                            
                            background-image: url("images.jpg");
                            
                            }

                            .alumpubsoc3{
        
         
        
                                background-repeat: no-repeat;
                                
                                float:left;
                                
                                height: 343px;
                                
                                width: 317px;
                                
                                margin-left: 5px;
                                
                                margin-right:5px;
                                
                                background-image: url("alumbrado.jpg");
                                
                                }

                                .electroisoc3{
        
         
        
                                    background-repeat: no-repeat;
                                    
                                    float:left;
                                    
                                    height: 651px;
                                    
                                    width: 638px;
                                    
                                    margin-left: 5px;
                                    
                                    margin-right:5px;
                                    
                                    background-image: url("iman.jpg");
                                    
                                    }

                                    .lafotosoc3{
        
         
        
                                        background-repeat: no-repeat;
                                        
                                        float:left;
                                        
                                        height: 364px;
                                        
                                        width: 418px;
                                        
                                        margin-left: 5px;
                                        
                                        margin-right:5px;
                                        
                                        background-image: url("lafoto.jpg");
                                        
                                        }
    
                                        .rockrtsoc3{
        
         
        
                                            background-repeat: no-repeat;
                                            
                                            float:left;
                                            
                                            height: 291px;
                                            
                                            width: 251px;
                                            
                                            margin-left: 5px;
                                            
                                            margin-right:5px;
                                            
                                            background-image: url("rocket.jpg");
                                            
                                            }
        
                                            .telesoc3{
        
         
        
                                                background-repeat: no-repeat;
                                                
                                                float:left;
                                                
                                                height: 294px;
                                                
                                                width: 250px;
                                                
                                                margin-left: 5px;
                                                
                                                margin-right:5px;
                                                
                                                background-image: url("telegrafo.jpg");
                                                
                                                }

                                                .martillosoc3{
        
         
        
                                                    background-repeat: no-repeat;
                                                    
                                                    float:left;
                                                    
                                                    height: 287px;
                                                    
                                                    width: 225px;
                                                    
                                                    margin-left: 5px;
                                                    
                                                    margin-right:5px;
                                                    
                                                    background-image: url("martillo.jpg");
                                                    
                                                    }

                    
                                                    .acerosoc3{
        
         
        
                                                        background-repeat: no-repeat;
                                                        
                                                        float:left;
                                                        
                                                        height: 304px;
                                                        
                                                        width: 367px;
     
                                                        margin-left: 5px;
                                                        
                                                        margin-right:5px;
                                                        
                                                        background-image: url("acero.jpg");
                                                        
                                                        }
            
                                                        .tecnocomu3{
        
         
        
                                                            background-repeat: no-repeat;
                                                            
                                                            float:left;
                                                            
                                                            height: 707px;
                                                            
                                                            width: 1220px;
         
                                                            margin-left: 5px;
                                                            
                                                            margin-right:5px;
                                                            
                                                            background-image: url("evoluciónteg3.jpg");
                                                            
                                                            }

                                                            .tiempoc3{
        
         
        
                                                                background-repeat: no-repeat;
                                                                
                                                                float:left;
                                                                
                                                                height: 555px;
                                                                
                                                                width: 1665px;
             
                                                                margin-left: 5px;
                                                                
                                                                margin-right:5px;
                                                                
                                                                background-image: url("tecnoloenelt.jpg");
                                                                
                                                                }

                                                                .tallingles3{
        
         
        
                                                                    background-repeat: no-repeat;
                                                                    
                                                                    float:left;
                                                                    
                                                                    height: 318px;
                                                                    
                                                                    width: 1665px;
                 
                                                                    margin-left: 5px;
                                                                    
                                                                    margin-right:5px;
                                                                    
                                                                    background-image: url("trato.jpg");
                                                                    
                                                                    }

                                                                    .escucha{
        
         
        
                                                                        background-repeat: no-repeat;
                                                                        
                                                                        float:left;
                                                                        
                                                                        height: 430px;
                                                                        
                                                                        width: 1665px;
                     
                                                                        margin-left: 5px;
                                                                        
                                                                        margin-right:5px;
                                                                        
                                                                        background-image: url("escuchalodeotros.jpg");
                                                                        
                                                                        }

                                                               .opinióndfrente{
        
         
        
                                                                 background-repeat: no-repeat;
                                                                            
                                                                 float:left;
                                                                            
                                                                 height: 353px;
                                                                           
                                                                 width: 1665px;
                         
                                                                 margin-left: 5px;
                                                                            
                                                                 margin-right:5px;
                                                                            
                                                                 background-image: url("diferencias.jpg");
                                                                            
                                                                 }

                                                                 .aceptar{
        
         
        
                                                                    background-repeat: no-repeat;
                                                                               
                                                                    float:left;
                                                                               
                                                                    height: 353px;
                                                                              
                                                                    width: 1665px;
                            
                                                                    margin-left: 5px;
                                                                               
                                                                    margin-right:5px;
                                                                               
                                                                    background-image: url("aceptar.jpg");
                                                                               
                                                                    }

                                                                    .estereotipos{
        
         
        
                                                                        background-repeat: no-repeat;
                                                                                   
                                                                        float:left;
                                                                                   
                                                                        height: 353px;
                                                                                  
                                                                        width: 1665px;
                                
                                                                        margin-left: 5px;
                                                                                   
                                                                        margin-right:5px;
                                                                                   
                                                                        background-image: url("estereotipos.jpg");
                                                                                   
                                                                        }

                                                                        .losmedios{
        
         
        
                                                                            background-repeat: no-repeat;
                                                                                       
                                                                            float:left;
                                                                                       
                                                                            height: 353px;
                                                                                      
                                                                            width: 1665px;
                                    
                                                                            margin-left: 5px;
                                                                                       
                                                                            margin-right:5px;
                                                                                       
                                                                            background-image: url("acercate.jpg");
                                                                                       
                                                                            }


                                                                            .elidioma{
        
         
        
                                                                                background-repeat: no-repeat;
                                                                                           
                                                                                float:left;
                                                                                           
                                                                                height: 353px;
                                                                                          
                                                                                width: 1665px;
                                        
                                                                                margin-left: 5px;
                                                                                           
                                                                                margin-right:5px;
                                                                                           
                                                                                background-image: url("idioma.jpg");
                                                                                           
                                                                                }






                
                                                                    
                                                                
                                                                
            